$red: #ff0000;

//Fonts
$sans: 'Droid Sans', sans-serif;
$serif: 'Droid Serif', sans-serif;


//Breakpoints
$breakpoint: 800px;

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700');

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import '~normalize.css/normalize.css';


body {
    font-family: $sans;
}